
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>Setup for TS</h1>

<script src="~/app/test.js"></script>
<div id="message"></div>
<div>
    Compiler: <input id="compiler" value="TypeScript" onkeyup="document.getElementById('message').innerText = setTextTS()" /><br />
    Framework: <input id="framework" value="ASP.NET" onkeyup="document.getElementById('message').innerText = setTextTS()" />
</div>

